<div class="flex" data-controller="charts">
  <h2>Discover our stats!</h2>
  <button id="map" 
            data-action="click->charts#toggleCharts"
    data-turbo-frame="charts-frame"
    class="ml-5 bg-blue-600 text-white rounded-lg py-3 px-5 font-medium">
    Map Chart
  </button>
  <button id="multiline"
            data-action="click->charts#toggleCharts"
    data-turbo-frame="charts-frame"
    class="ml-5 bg-blue-600 text-white rounded-lg py-3 px-5 font-medium">
    Trending This Month
  </button>
  <button id="top-users" 
            data-action="click->charts#toggleCharts"
    data-turbo-frame="charts-frame"
    class="ml-5 bg-blue-600 text-white rounded-lg py-3 px-5 font-medium">
    Top Researchers
  </button>
  <button id="latest"
          data-action="click->charts#toggleCharts"
    data-turbo-frame="charts-frame"
    class="ml-5 bg-blue-600 text-white rounded-lg py-3 px-5 font-medium">
    Latests Searches
  </button>
</div>
<div data-controller="charts">
  <div id="map-chart" class="<%= active_chart == 'map' ? "block" : "hidden" %>">
    <%= geo_chart logs_by_country %>
  </div>
  <div id="multiline-chart" class="<%= active_chart == 'multiline' ? "block" : "hidden" %>">
    <%= line_chart top_logs.map { |log| {
          name: log.input,
          data: Log.where(input: log.input)
                  .where(created_at: 1.month.ago.midnight..Time.now)
                  .group_by_week(:created_at)
                  .count
        }}
    %>
  </div>
  <div id="top-users-chart" class="<%= active_chart == 'top-users' ? "block" : "hidden" %>">
    <%= column_chart top_users,
                    ytitle: 'Number of Searches',
                    xtitle: 'User IP'
                  %>
  </div>
  <div id="latest-chart" class="<%= active_chart == 'latest' ? "block" : "hidden" %>">
    <% latest_logs.each do |log| %>
      <div class="flex justify-between">
        <h3><%= log.input %></h3>
        <p>By: <%= log.ip %></p>
        <p>At: <%= log.created_at.strftime("%d %b %Y") %></p>
      </div>
    <% end %>
  </div>
</div>
